/* Override some default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #93ffe8; /*might change*/
    height: 100vh;
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column; /*stack title above board */
    align-items: center;    /* Center both */
    gap: 1rem;
}

.board:hover {
    cursor: pointer;
}

.board {
    width: 320px;
    height: 320px;
    background-image: url(grid.png);
    background-size: cover;
    border-radius: 3rem;
    box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat((3, 1fr));
    gap: 4px;
}


.circle {
    background-image: url(circle.png);
}

.cross {
    background-image: url(cross.png);
}

.circle, .cross {
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
}

.game-title{
    display: inline-block;
    background-color: white;
    color: #FC6C85;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.8rem;
    box-shadow: 0 0 15px 5px rgba(50, 50, 50, 0.5);
    margin: 20px auto;
    text-align: center;
}

#result {
    width: 200px;
    height: 2rem;
    font-size: 1.2rem;
    color: #fd5470;
    text-align: center;
}

button {
    background-color: #fa8ea0;
    border: none;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
    color: white;
    margin: 0.2rem;
}

button:hover {
    cursor: pointer;
    background-color: #fd5470;
}

/*make the winning cell glow*/
.highlight {
    background-color: rgb(255, 255, 150);
    border-radius: 10px;
    animation: flash 0.5s alternate infinite;
}

@keyframes flash {
    from { background-color: rgba(255, 250, 100, 0.7);}
    to   { background-color: rgba(255, 250, 100, 0.9);;}
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
}

/*hide screen by default*/
#game-screen {
    display: none;
}